<!DOCTYPE html>
<html>
  <head>
    <title>StylusPals</title>
  </head>
  <body>
    <h1>StylusPals</h1>
    <p>Welcome to StylusPals!</p>
    
    <p>Sign up today</p>
    <form action="/signup" method="post">
      <input name="number">
      <select name="carrier">
        <option value="att">AT&T</option>
        <option value="verizon">Verizon</option>
        <option value="sprint">Sprint</option>
        <option value="tmobile">T-Mobile</option>
      </select>
      <input type="submit" value="Submit">
    </form>
    <p>Don't feel comfortable using your number? <a href="https://www.google.com/voice/">Google Voice</a> is a service provided by Google which provides you with another phone number which can be attached to smartphones.</p>
  </body>
</html>
