<!DOCTYPE html>
<html>
<head>
  <title>StylusPals - Verify</title>
</head>
<body>
  <h1>StylusPals - Verify</h1>
  <p>A text message has been sent to your number. Reply with !accept
    to start using StylusPals.</p>
</body>
</html>
